{
    "presets": [
      "next/babel", // If using Next.js
      "@babel/preset-react", // If using React
      "@babel/preset-typescript"
    ],
    "plugins": [
      ["@babel/plugin-transform-react-jsx", { "runtime": "automatic" }]
    ]
  }
  