@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

html {
  font-family: var(--font-montserrat-sans);
}
 
h1 {
  font-family: var(--font-montserrat-sans);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:  var(--font-montserrat-sans);
}

.height-available {
  height: -webkit-fill-available;
}

.height-unavailable {
  height: auto;
}

.td-class {
  @apply px-4 py-3 text-gray-900 bg-gray-200 first:rounded-t-lg last:rounded-b-lg sm:first:rounded-t-none sm:last:rounded-b-none sm:first:rounded-tl-lg sm:first:rounded-bl-lg sm:last:rounded-tr-lg sm:last:rounded-br-lg
} 

.tr-class {
  @apply flex flex-col mb-4 sm:table-row
}

.suspended-text {
  @apply text-gray-500
}

#popup-modal {
  background: rgb(0 0 0 / 30%);
}
